<!DOCTYPE HTML>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="keywords" content="scclui框架">
	<meta name="description" content="scclui为轻量级的网站后台管理系统模版。">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
  <title>list</title>
  <link rel="stylesheet" href="/common/css/add.css">
    
  </head>
  
  <body>
  	<h3>编辑板块<%= data.id %></h3>
  	<form action="/admin/editc">
  		<p>
  			<input type="hidden" name="id" value="<%= data.id %>">
  		</p>
  		<p>
  			<label for="name">板块名称s：</label>
	  		<input type="text" id="name" name="bkname" value="<%= data.bkname %>">
  		</p>
  		<p>
  			<label for="user">版主：</label>
	  		<input type="text" id="name" name="bkadmin" value="<%= data.bkadmin %>">
  		</p>
  		<p>
  			<input type="submit" value="提交">
  			<a href="/admin/delete/<%= data.id %>">删除</a>
  		</p>
	  		
  	</form>
  </body>
</html>
